@tailwind base;
@tailwind components;
@tailwind utilities;
 
 * {
    /* font-family: "Jua", serif;
    font-weight: 400;
    font-style: normal; */

    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

    /* font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; */
}

html {
    @apply bg-blue-100 m-2;
}

.playlist-item {
    @apply flex flex-row align-middle justify-center;
}

.playlist-link {
    @apply border-2 my-auto px-2 mx-2 rounded-xl;
}

.delete-button {
    @apply border-2 rounded-full p-1 w-8 h-8;
}

.control-button {
    @apply w-[35px] aspect-square border-2 border-black bg-white  rounded-full hover:-translate-y-1;
}

#music-player {
    @apply border-2 border-black bg-green-300 rounded-2xl flex flex-col justify-center align-middle mx-auto;
    width: 400px;
    height: 500px;
    
}
.music-player-content {
    @apply z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    width: 200px;
    height: 200px;
}

#vinyl-player {
    @apply w-full aspect-square flex flex-col justify-start items-center bg-transparent absolute;
}

#vinyl-disc {
    @apply w-full aspect-square bg-black rounded-full flex justify-center items-center transition-all;
}

#vinyl-inner {
    @apply flex justify-center items-center;
    @apply border-x-2 border-y-0 border-slate-300 bg-transparent rounded-full aspect-square w-[88%];
}

#vinyl-inner-2 {
    @apply flex justify-center items-center;
    @apply border-x-2 border-y-0 border-slate-300 bg-transparent rounded-full aspect-square w-[90%];
}

#vinyl-inner-3 {
    @apply flex justify-center items-center;
    @apply border-x-2 border-y-0 border-slate-300 bg-transparent rounded-full aspect-square w-[90%];
}

#vinyl-inner-4 {
    @apply flex justify-center items-center;
    @apply border-x-2 border-y-0 border-slate-300 bg-transparent rounded-full aspect-square w-[90%];
}

#vinyl-inner-5 {
    @apply flex justify-center items-center;
    @apply border-x-2 border-y-0 border-slate-300 bg-transparent rounded-full aspect-square w-[90%];
}

.hide-player {
    @apply hidden invisible;
}

.show-player {
    @apply block visible;
}

/* #now-playing-text {
    animation: autoscroll 25s linear infinite;
} */

@keyframes autoscroll {
    0% {
      transform: translateX(100%); /* Start position: off to the right */
    }
    100% {
      transform: translateX(-100%); /* End position: off to the left */
    }
}